/* css - mobile first */

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* <-- structure --> */

main, header, footer {
    text-align: center;
}

header {
    background-color: rgb(45,45,45);
    padding-top: 5px;
    padding-bottom: 5px;
}

.sectionOne {
    background-color: rgb(211,211,211,.3);
}

#home h2 {
    margin: 3%;
    padding-bottom: 15px;
}

.sectionTwo {
    margin: 0 50px;
}

.sectionTwo .itemDouble {
    margin-bottom: 15px;
}

#about h2 {
    margin: 3%;
    padding-bottom: 15px;
}

hr {
    color: rgb(211,211,211);
    border-style: double;
    padding: 3px;
}

#logos div div img {
    padding: 30px 150px 30px 150px;
}

.whitespace {
    padding: 20px 0;
    background-color: rgb(211,211,211,.2);
}

.sectionFive {
    
    padding: 0 40px;
}

.sectionFive h3 {
    font-size: 20px;
    padding-top: 15px;
}

.sectionFive p {
    margin: 30px 70px;
}

#contact h2 {
    margin-top: 20px;
}

#contact h3 {
    padding: 40px 0;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: bold;
}

#contact li {
    margin: 10px 0;
    padding-bottom: 20px;;
}

footer {
    background-color: rgb(45,45,45);
    padding-top: 10px;
    padding-bottom: 10px;
}

footer h3 { 
    margin: 30px;
}


/* <-- fonts --> */

h1, h2, h3, p, a, ul, li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
    color: white;
}

h2 {
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: .1em;
}

header h2 {
    color: white;
    font-size: 1.5em;
}

h3 {
    font-size: 1.75em;
    font-style: thin;
    font-weight: 200;
    line-height: 1em;
}

footer h3 {
    color: white;
}

p {
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1em;
    word-spacing: .1em;
}

/* <-- navigation --> */

nav {
    display: flex;
    justify-content: center;
  }

nav ul {
    display: flex;
    margin: 15px 0;
    padding-left: 0;
    list-style: none;
  }
  
nav ul li a {
    margin: 0 20px 0 0;
    text-transform: lowercase;
    color: white !important;
    font-size: .8em;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

nav ul li:last-child a {
    margin-right: 0;
  }

/* <-- links --> */

a {
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
}

#portfolio a {
    font-size: 1.5em;
    background-color: black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    } 

#contact li a {
    background-color: black;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:link {
    color: black;
  }
  
a:visited {
    color: black;
  }
  
a:hover {
    background-color: white;
  }
  
a:active {
    color: black;
  } 


/* <-- lists --> */

ul {
    list-style-type: none; 
}

li, .website {
    font-size: 1.5em;
    font-weight: 400;
    list-style-position: inside;
}

/* <-- images --> */

img {
    width: 100%;
    height: auto;
}

/* ---  Contact Form Design --- */

form {
    padding-right: 6px;
  }
  
  form input, 
  form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }
  
/* <-- flexbox --> */

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.groupSkills {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    font-size: 25px;
}

.item {
    flex: 1;
    padding: 10px;
}

.itemDouble {
    flex: 2;
    padding: 0 20px;
}


/* <-- media --> */

@media all and (min-width: 800px) {

    section, h1 {
      padding: 0 10%;
    }

    h2 {
        font-size: 
    }

    h3 {
        font-size: 
    }

    header .item {
        margin-bottom: 20px;
    }

    .group {
      flex-direction: row;
    }

    .groupSkills {
        font-size: 35px;
    }

    #skills {
        margin: 0;
        padding: 0;
    }

    #logos div div img {
        padding: 0 30px 0 30px;
    }

    nav ul {
        margin: 0;
    }

    nav ul li:last-child a {
        margin-right: 100px;
      }

  }